body{
   background-image: url("img/galaxy.jpeg");
   background-repeat: no-repeat;
   background-position: center;
   
}
img{
    height: 40px;
    width: 40px;
}

#container{
    height: 100%;
    width: 100%;
    margin-top: 150px;
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
}
#btn{
    background-color: beige;
    color:darkorchid;
    border-radius: 5px;
    border-style: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    text-shadow: 1px 1px 1px #000;
    padding: 5px 10px 5px 10px;
}



.scoreboard{
    display: flex;
    gap: 32px;
    color: beige;
}

.input-options{
    display: flex;
    align-items: center;
    margin: 20px;
    margin-top: 60px;
    gap:20px;
}

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text-box{
   
    display: flex;
    flex-direction: column;
    gap: 60px;
    
}

#gameText{
    margin: auto;
    color: beige;
    font-weight: bold;
    font-size:larger;
    text-shadow: 1px 1px 1px #000;
    font-family: sans-serif;
    text-align: center;
   
}
#roundText{
    
    color: beige;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#playerScoreCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:20px;
}

#playerScoreFull{
    background-color: darkorchid;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px #000;
    padding: 5px 10px 5px 10px;
    border-radius: 5px; 
}

#computerScoreCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
#computerScoreFull{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px #000;
    background-color: darkorchid;
    padding: 5px;
    border-radius: 5px;
    width: 112px;
    
    
}