body{
    background-color:thistle;
}

#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#btn{
    background-color: beige;
    color:darkorchid;
    border-radius: 5px;
    border-style: none;
    margin:6px;
    
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
}

.scoreboard{
    display:flex;
    gap:20px;
    color: beige;
}
.input-options{
    display: flex;
    align-items: center;
    margin: 10px;
}

#gameText{
    color: beige;
    font-weight: bold;
    font-family: sans-serif;
}

#playerScoreCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerScoreFull{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: sans-serif;
}

#computerScoreCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#computerScoreFull{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: sans-serif;
    
}